html {
	color: #333;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

body {
	padding: 1%;
	background-color: #e2e2e2;
}

.body-container, header {
	max-width: 960px;
	margin: 0 auto;
}

header {
	border-bottom: 2px solid #333;
	padding: 10px 0;
	nav {
		ul {
			float: left;
			width: 50%;
			li {
				display: inline;
			}
		}
	}
}